*{
  font-family: "Do Hyeon", serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000;
  color: #fff;
}
.logo{
  font-size: 24px;
  font-weight: bold;
  color: #e50914;
  cursor: pointer;
}
h1{
  color: #d8d8d8;
}
.header-container{
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
#searchInput{
  width: 40%;
  height: 35px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#bookmark{
  width: 8%;
  height: 25px;
  margin: 10px;
  background-color: black;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  display: flex; 
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.movie-item{
  width: 200px;
  border: 3px solid #fff;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}
.movie-item:hover{
  transform: translateY(-7px);
}
.movie-item img{
  width: 100%;
  height: 200px;
  border-radius: 4px;
  object-fit: cover;
}
.footer-container{

}

.movie-modal {
  display: none;
  position: fixed; /* 화면에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.movie-modal.active {
  display: flex; /* 모달을 화면에 보이도록 설정*/
}

.modal-close{
  
}
.modal-content {
  background-color: #7272726b;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.modal-header {
  display: flex;
  justify-content: end;
  padding: 15px 15px 0 ;
  background-color: #7a7a7a10;
}
.modal-close {
  background-color: #e4e4e4;
  border: none;
  color: black;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.modal-close:hover {
  color: #a3a3a3; /* 마우스 오버 시 색상 변경 */
}
.bookmarkbtn {
  background-color: #e4e4e4;
  color: black;
  border: none;
  width: 200px;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.bookmarkbtn:hover {
  background-color: #a3a3a3; /* 마우스 오버 시 색상 변경 */
}
.modal-body {
  padding: 20px;
  text-align: center;
  background-color: #7a7a7a10;
}
.modal-body img {
  width: 100%;
  max-height: 650px;
  object-fit: cover;
  border-radius: 10px;
}
.modal-body h2 {
  margin-top: 15px;
  font-size: 1.5em;
}
.modal-body p {
  margin: 5px 0;
  font-size: 1.1em;
}