@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Gaegu&family=Gothic+A1&family=Jua&family=Nanum+Gothic+Coding&family=Nanum+Gothic:wght@400;700&family=Orbit&family=Sunflower:wght@300&display=swap');

* {
  font-family: "Do Hyeon", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* 화면 전체 높이 */
  display: flex;
  flex-direction: column;
  /* 세로 방향 정렬 */
}

/* Main 영역을 Flex로 설정하여 남은 공간 차지 */
main {
  flex: 1;
  /* 남은 공간을 채움 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 15px;
}

.logo {
  cursor: pointer;
  width: 120px;
  height: auto;

}

.category {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.category div {
  cursor: pointer;
  font-size: 24px;
  color: #e7e7e7;
  padding: 5px;
}

#bookmark {
  color: #f73737;
  font-size: 24px;

}

h1 {
  color: #d8d8d8;
}

.header-container {
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

#searchInput {
  width: 40%;
  height: 35px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#bookmark {
  width: 10%;
  color: #f73737;
  cursor: pointer;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie-item {
  width: 200px;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.movie-item:hover {
  transform: translateY(-7px);
}

.movie-item img {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  object-fit: cover;
}

/* 모달 */
.movie-modal {
  display: none;
  position: fixed;
  /* 화면에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.movie-modal.active {
  display: flex;
  /* 모달을 화면에 보이도록 설정*/
}

.modal-content {
  background-color: #7272726b;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: end;
  padding: 15px 15px 0;
  background-color: #7a7a7a10;
}

.modal-close {
  background-color: #e4e4e4;
  border: none;
  color: black;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-close:hover {
  color: #a3a3a3;
  /* 마우스 오버 시 색상 변경 */
}

.bookmarkbtn {
  background-color: #e4e4e4;
  color: black;
  border: none;
  width: 200px;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bookmarkbtn:hover {
  background-color: #a3a3a3;
  /* 마우스 오버 시 색상 변경 */
}

.modal-body {
  padding: 20px;
  text-align: center;
  background-color: #7a7a7a10;
}

.modal-body img {
  width: 100%;
  max-height: 650px;
  object-fit: cover;
  border-radius: 10px;
}

.modal-body h2 {
  margin-top: 15px;
  font-size: 1.5em;
}

.modal-body p {
  margin: 5px 0;
  font-size: 1.1em;
}

/* foorter */
.footer-container {
  background-color: #111;
  color: #eee;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 13px;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}

.footer-contact {
  margin: 10px 0;
  font-size: 12px;
}

.footer-socials {
  margin: 10px 0;
}

.footer-socials .social-icon {
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
}

.footer-socials .social-icon .icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer-socials .social-icon:hover .icon {
  transform: scale(1.1);
  opacity: 0.8;
}

.footer-copyright {
  margin-top: 15px;
  font-size: 12px;
  color: #666;
}